* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 400px;
    width: 280px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.location,
.temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.degree-section span {
    margin: 3px;
    font-size: 0.8rem;
}

.degree-section h2 {
    font-size: 1rem;
}








